pyrogram>=2.0.30
# A
aiofiles
aiohttp==3.8.1
asyncio==3.4.3
# B
beautifulsoup4
bs4
# C
#carbonnow
countryinfo
# F
ffmpeg-python
# G
glitch_this
gTTS
googletrans==3.1.0a0
# H
humanize
# I
imdbpy==2021.4.18
# M
marshmallow==3.14.1
motor==2.5.1
# N
NumPy
# O
opencv-python-headless
# P
Pillow
psutil
py-tgcalls==0.8.2
pymongo[srv]==3.12.3
PyPDF2
Pypdf2
pypng
pyshorteners
python-dotenv
# R
requests
# S
speedtest-cli
# T
telegraph==1.4.1
tgcrypto
tswift
# U
umongo==3.0.1
# W
wget
wheel
# Y
yt-dlp
ytthumb
youtube-dl
youtube_search
youtube-search-python==1.4.6
